.HeaderStyle {
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: #1e0377;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    width: 100%;
    height: 100px;
}