.SideBarStyle {
  background-color: red;
  box-shadow: 10px 10px 10px black;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* إنشاء عمودين متساويين */
  justify-items: center;
  gap: 10px; 
  width: 300px; 
}

.SideBarStyle > button {
  background-color: rgb(32, 37, 175);
  color: white;
  border: none;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
  width: 50%;
  height: 50%;
  border-radius: 50px;
}

.Active {
  border: solid 10px green;
}